<h1>Who’s the hottest hacker of them all?</h1>
<table class="hackers-ranking">
  <thead>
    <tr>
      <th>Position</th>
      <th>Username</th>
      <th>Ranking</th>
    </tr>
  </thead>
  <tbody>
    <%= render @hackers, :offset => @hackers.offset + 1 %>
  </tbody>
</table>

<%= will_paginate @hackers, :page_links => false %>
