<h1>Introduce your GitHub account name</h1>

<% form_for @hacker do |f| -%>
  <% f.object.errors.full_messages.each do |e| %>
    <p><%= e %></p>
  <% end %>
  <%= f.text_field :username %>
  <button class="fancy" value="submit" type="submit">Create</button>
<% end -%>