=hot-hackers-header
  background:
    image: url(/images/css/header-bg.png)
    repeat: no-repeat
    color = !beet_color
  border-bottom = 1px "solid" !dark_gray_color
  height = 4 * 18px
  
  h1
    +column(6)
    height: 72px
    margin-bottom: 0
    
    a, a:hover, a:visited, a:active
      +column(6)
      height: 72px
      color: #ffffff
      text-decoration: none
