#links-col
  %h3 Options
  %ul
    %li=link_to 'New match', new_match_url, :title => 'New match'
    %li=link_to 'Add a new hacker', new_hacker_url, :title => 'Add hacker'
    %li=link_to 'See the hacker ranking', hackers_url, :title => 'Hackers ranking'
#copyright Copyright 2010 Daniel &amp; Jorge